[Desktop Entry]
Version=1.0
Name=Lenna
Comment=Lenna desktop app for converting images.
TryExec=lenna
Exec=lenna -- %u
Icon=lenna
Terminal=false
Type=Application
Categories=Graphics;Utility;Qt;
Keywords=lenna;images;convert;
